version: 2

jobs:
  buildImage:
    docker:
      - image: web3f/ci-commons:v2.4.0
    steps:
      - checkout
      - setup_remote_docker
      - run:
          command: |
            /scripts/build-image.sh web3f/polkadot-deployer .

  publishChart:
    docker:
      - image: web3f/ci-commons:v2.4.0
    steps:
      - checkout
      - run:
          command: |
            /scripts/publish-chart.sh

  testPrometheusRules:
    docker:
      - image: web3f/ci-commons:v2.4.0
    steps:
      - checkout
      - run:
          command: |
            scripts/test_prometheus_rules.sh


workflows:
  version: 2
  test-deploy:
    jobs:
      - buildImage:
          filters:
            tags:
              only: /.*/
      - testPrometheusRules:
          filters:
            tags:
              only: /.*/
      - publishChart:
          context: github-bot
          requires:
            - buildImage
            - testPrometheusRules
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
